<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<!--<div class="container my-2">-->
<!--    <span th:text="${userSessionInfo.username}"></span>-->
<!--</div>-->
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${courseExams}" class="container my-5">
                <div class="col-md-10">
                    <h2 th:case="null">No courses yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Course</th>
                                <th>Student</th>
                                <th>Grade</th>
                                <th>Exam Date</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="courseExam : ${courseExams}">
                                <td th:text="${courseExam.courseName}"></td>
                                <td th:text="${courseExam.studentName}"></td>
                                <td th:text="${courseExam.grade}"></td>
                                <td th:text="${courseExam.examDate}"></td>
                                <td><a th:href="@{/courses/registrations/edit/{id}(id=${courseExam.id},studentID=${userSessionInfo.studentID},userrole=${userSessionInfo.userRole},session=${userSessionInfo.sessionToken})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
<!--                                <a th:href="@{/courses/register/{id}(id=${course.id},studentID=${userSessionInfo.studentID},userrole=${userSessionInfo.userRole},session=${userSessionInfo.sessionToken})}" class="btn btn-primary">-->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>